@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}
/* .custom-img{
   background-image: url("https://i.ibb.co/4VRSWvV/nijum-pic-removebg-preview.png");
 } */
.navbar-image {
    height: 80px;
}
.googleFont {
    font-family: "Nerko One", cursive;
    font-size: 30px;
    background: linear-gradient(to right, #f64c56, #e12a71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home:hover {
    background-image: linear-gradient(to right, #f84551, #e0226b);
    color: white;
}

.hero-main {
    height: 250px;
    width: 240px;
}
